## Mongo
# If you changed your DB name/host, update this.
MONGO_URI=mongodb://localhost:27017/ReMarket

## Main admin (only one)
ADMIN_EMAIL=admin@remarket.com
ADMIN_PASSWORD=Admin1234
ADMIN_FIRST_NAME=Admin
ADMIN_LAST_NAME=Main

